<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have a new user! <a href="https://poly.wikitongues.org/users/<%= @user.id%>"><%= @user.username %></a></p>
  </body>
</html>