.archive-page {
  width: 100%;
  position: relative;
}

.archive-background {
  position: absolute;
  top: -150px;
  left: 0px;
  right: 0px;

  img {
    width: 100%;
  }
}

.archive-video-container {
  display: block;
  margin: 0 auto;
  padding: 16px;
  width: 800px;
  height: 1000px;
  position: relative;

  background-color: white;
  box-shadow: 0px 4px 4px rgba(0,0,0,.2);
}
