.archive-watch-container {
  position: relative;
  top: 60px;

  margin: 0 auto 80px auto;
  padding: 100px;
  width: 90%;
  height: auto;

  background-color: white;
  box-shadow: 0px 4px 4px rgba(0,0,0,.2);
}

.watch-video-container {
  width: 80%;
  margin: 0 10%
}
a.archive-back-home {
  display: block;
  width: 36px;
  height: 36px;
  background-color: red;
  margin: 32px;
}

.watch-video-title {
  font-size: 26px;
  font-weight: 700;
}

.watch-video-component {
  width: 100%;
}

.watch-video-description {
  line-height: 1.5;
}
