.archive-video-card {
  flex-basis: 300px;
  flex-grow: 1;
  height: 330px;
  margin: 16px;

  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  border-radius: 4px;
}

.archive-video-card-thumbnail{
	height: 200px;
	overflow: hidden;

	img {
		max-width: 100%;
  }
}

.archive-video-metadata{
	margin-left: 24px;
	margin-right: 24px;

	.archive-video-card-title {
		font-family: HelveticaNeue;
		font-size: 24px;
		text-align: left;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.archive-video-card-details{
		font-family: HelveticaNeue;
	  font-size: 16px;
	  font-weight: 300;
	}
}