<!DOCTYPE html>
<html style="background-color:#BFE7EC;">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:900,400' rel='stylesheet' type='text/css'>
  </head>
  <body style="margin:30px auto; background-color:#FFEDE6; display:block;">
    <div class="wrapper" style="margin:auto;">
      <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/backgroundLogo.png" alt="Poly the Parrot" style="width:100%; display:block; margin: 0 auto;">
      <!-- <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/wikitongues.png" alt="Wikitongues" width="30" height="30" style="display:block; margin:0 auto 10px; float:right;"> -->
      <!-- <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/logo.png" alt="Poly the Parrot" width="350" height="190" style="display:block; margin: -231px auto 30px;"> -->
      <h1 style="width:500px;text-align:center;margin:0 auto 40px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Welcome to Poly!</h1>
      <p style="width:500px;text-align:center;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Great to see you've joined the Wikitongues community!</p>
      <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/newBook.png" alt="Create a new phrasebook" width="600" height="338" style="display:block; margin:0 auto 30px;">
      <h1 style="width:500px;text-align:center;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">First things first.</h1>
      <p style="width:500px;text-align:center;margin:0 auto 60px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">If you haven’t yet, sign in and <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://poly.wikitongues.org/books/new">create a phrasebook</a>.</p>
      <p style="width:500px;text-align:center;margin:0 auto 10px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Wondering what's next?</p>
      <h1 style="width:510px;text-align:center;margin:0 auto 60px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Here are three ways you can promote language diversity worldwide:</h1>
      <div style="display:block; margin-bottom:60px;">
        <span style="line-height:78px; float:right; border-radius: 100%;margin:0; font-family: 'Roboto', sans-serif; display:block; height:78px; width:78px; text-align: center; font-size:50px; background-color:#FFEDE6; font-weight:900; color:#FF7C98;">1</span>
        <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/share.png" alt="Sister Cookson and Sister Sooalo share their stories" width="600" height="338" style="display:block; margin:0 auto 30px;">
        <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Share Poly with your friends and teachers.</h1>
        <p style="width:500px;margin:0 auto;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">If you like using Poly so far, please invite and encourage your friends and teachers to join too. We're a tight-knit community, and everyone has something to add. Whether it be feedback to the app, new partnerships with schools or projects, or new word lists, we want everyone!</p>
      </div>
      <div style="display:block; margin-bottom:60px;">
        <span style="line-height:78px; float:right; border-radius: 100%;margin:0; font-family: 'Roboto', sans-serif; display:block; height:78px; width:78px; text-align: center; font-size:50px; background-color:#FFEDE6; font-weight:900; color:#FF7C98;">2</span>
        <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/explore.png" alt="Caroline 'Jabulile' White, Gullah storyteller" width="600" height="338" style="display:block; margin:0 auto 30px;">
        <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Explore every language in the world with Wikitongues.</h1>
        <p style="width:500px;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Head over to <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.wikitongues.org">www.wikitongues.org</a> and learn about what the Wikitongues organization does beyond Poly.</p>
        <p style="width:500px;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Discover new languages every week <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.youtube.com/wikitongues">on Youtube</a>!</p>
        <p style="width:500px;margin:0 auto;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Excited yet? <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.wikitongues.org/volunteer">Help us record new languages</a> and fulfill our mission of working with every language in the world!</p>
      </div>
      <div style="display:block; margin-bottom:60px;">
        <span style="line-height:78px; float:right; border-radius: 100%;margin:0; font-family: 'Roboto', sans-serif; display:block; height:78px; width:78px; text-align: center; font-size:50px; background-color:#FFEDE6; font-weight:900; color:#FF7C98;">3</span>
        <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/know.png" alt="Ademar and Aurora reminisce" width="600" height="338" style="display:block; margin:0 auto 30px;">
        <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Be sure to stay in the know!</h1>
        <p style="width:500px;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;"><a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.patreon.com/wikitongues">Subscribe to monthly publishing guides</a> on Patreon, discover new and incredible points of view and the science behind them on our blog on <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.medium.com/wikitongues">Medium</a>, and keep in touch by liking our <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.facebook.com/wikitongues">Facebook</a> page, following us on <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.twitter.com/wikitongues">Twitter</a>, and subscribing to our <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="">mailing list</a>.</p>
        <p style="width:500px;margin:0 auto;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">There's never enough culture.</p>
      </div>
      <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Lastly,</h1>
      <p style="width:500px;margin:0 auto 60px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">We'd like to get to know you a bit better, and have only one question: why did you sign up to Poly? Just hit "reply" and let us know, we're all real people here.</p>
      <h1 style="width:500px;margin:0 auto 60px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Your friends at Wikitongues</h1>
      <p style="width:500px;margin:0 auto 60px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Wikitongues is a 501(c)(3) non-profit organization orchestrated from Brooklyn, NY.</p>
      <img src="https://s3-us-west-2.amazonaws.com/poly-email-assets/wikitongues.png" alt="Wikitongues" width="30" height="30" style="display:block; margin:0 auto 10px;">
      <p style="width:500px;text-align:center;margin:0 auto; padding-bottom:30px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Every language in the world.</p>
    </div>
  </body>
</html>