.book
  border-radius 0 0 2*$radius 2*$radius
  form
    margin 0

    .tools
      .icon
        cursor initial
        opacity 0.5

      .icon[title="Menu"]
        padding 18px

        img
          height 22px

  .info, .tools
    input
      border none
      border-bottom 2px solid darken($blue, 10%)
      placeholder-color($grey)

      &:focus
        outline none
        border-bottom-style solid

    textarea
      border none
      border-left 3px solid darken($blue, 10%)
      height auto
      placeholder-color($grey)

      &:focus
        outline none
        border-left-style solid

    input, textarea
      width 100%
      float left

      &.missing
        placeholder-color(red)

  .info
    margin 0
    .new
      &.title
        font-size 1.7em
        margin 0.7em 0 0.6em
        padding 0

      &.description
        margin 1em 0 2em -4px
        resize vertical
        font-size 1em
        padding-left 4px

  .banner
    width 100%

  .tools
    padding 0

    span
      width 60px
      float left
      display inline-block
      height 60px
      padding 15px

      img
        display inline-block
        height 30px

    .cardinality
      section
        input
          placeholder-color(#DEEDFE)
          width 47%
          text-align center
          float left
          background lighten($blue,20%)
          border-radius $radius
          font-size 1.3em
          padding 8px 0 9px
          margin 9px 0 8px
          position initial
          color $white

          &:focus
            background lighten($blue,40%)

          &:first-of-type
            margin-right 3%

          &:last-of-type
            margin-left 3%

          &.isEditing
            width 46%

  .isEditing
    border-bottom-color #ddd

  .dictionary
    height 27.5%
    position relative
    background $white
    border-radius 0 0 2*$radius 2*$radius

    .dummy.content
      pointer-events none

      .entry
        ul
          li
            p
              color transparent
              cursor default

            &.source
              p
                background lighten($source, 50%)
                border-color lighten($source, 48%)

            &.target
              p
                background lighten($target, 65%)
                border-color lighten($target, 63%)

        &:hover
          background transparent
          border-top-color transparent
          border-bottom-color transparent

      &:hover
          background transparent
          border-top-color transparent
          border-bottom-color transparent


    .startBook
      background $blue
      color $white
      border none
      font-size 1em
      padding 1em 0
      font-weight 100
      display block
      cursor pointer
      width 100%
      margin 0 auto
      transition margin-bottom $time ease-in-out

      &.disabled
        margin-bottom -70px
