.menu
  position absolute
  right 8px
  top 8px
  z-index 1
  width 40px
  height 40px
  overflow hidden
  border-radius 20pc
  transition background-color $time ease-in-out, opacity $time ease-in-out

  .icon
    width 40px
    height 40px
    float right
    cursor pointer
    opacity 0
    transition all $time ease-in-out
    border-radius 100%
    background-color transparent
    border none
    outline none
    margin-right -40px
    border 1px solid transparent

    &[title="Menu"], &[title="Cancel"]
      img
        height 22px
        width 22px

    &[title="Edit"], &[title="Delete"], &[title="Save"]
      img
        height 26px
        width 26px

    &.more
      margin 0
      opacity 1

    &:hover, &:focus
      background-color #fafafa

  &:hover
    width 120px
    background-color #fff

    .icon
      margin 0
      opacity 1

  &.saving
    width 80px

    .icon
      float left
      margin-right 0
      opacity 1