.dictionary
  min-height 27.5%
  display block
  position relative
  z-index 1
  margin auto
  font-size 1.2em
  padding 0
  background #fff
  float left
  width 100%
  max-width 600px
  border-top 2px solid #f4f8f9

  &.new
    min-height 0

  .notice
    position absolute
    margin-top 160px
    width 100%
    text-align center
    color $secondaryBlue
    left 0

  ul.content
    clear both
    width 100%
    padding 0
    margin 0
    display inline-block
    float left
    transition background $time*2 ease-in-out

    &:hover
      background lighten(#E7EFF2, 80%)

    p.empty
      text-align center
      color $secondaryBlue
      width ((2/3)*100)%
      margin 0
      position absolute
      top 50%
      left 50%
      transform translateX(-50%) translateY(-50%)
      font-size 1.4em

  .addPhrase
    position fixed
    z-index 10
    left 50%
    transform translateX(-50%)
    bottom 0
    materialButton()
    display block
    margin 0 auto .5em
    font-size 2em
    line-height 1em
    border none
    outline none
    cursor pointer

  .inputMethod
    width 100%
    float left
    background #fafcfc
    box-shadow 0 -1px 2px rgba(0,0,0,0.1)
    padding 7px 14px

    span.text
      button
        span
          font-weight bold
        span
          &.small
            font-weight bolder
            font-size .6em

    button
      float left
      margin 0
      width 40px
      height 40px
      border-radius 100%
      border-color transparent
      outline none
      background transparent
      font-weight bold
      font-size 1em
      cursor pointer
      color #4f6387

      &.close
        float right

      &:hover
        background-color #f5f5f5

    button[title="Italic"]
      font-style italic
      padding 2px 8px 2px 4px

    button[title="Underline"]
      span
        border-bottom 2px solid
        display block
        height 22px
        width 15px
        margin -12px auto

  .newPhrase
    float left
    width 100%
    border-top 1px solid #f0F3F5
    overflow hidden
    transition height $time ease-in-out margin-top $time ease-in-out margin-bottom $time ease-in-out

    input
      border none
      font-size 1em
      padding 18px 36px
      outline none
      height 80px
      width 500px
      float left
      background #FFF
      transition padding 1ms ease-in-out, border-left 1ms ease-in-out

      &.focus
        padding 1em 2em 1em 1.5em
        border-left .5em solid #FDBE2C

    button.savePhrase
      textButton()
      boxShadow()
      color white
      width 80px
      margin 20px 20px 20px 0
      cursor pointer
      font-size 1em