.book

  form
    margin 0

  .info, .tools
    input, textarea
      border none
      width 100%
      border-bottom 2px solid #a9b8c7
      float left

      &.missing
        ::placeholder
          color red

      &:focus
        outline none
        border-bottom-style solid

  .info
    margin 0
    .new
      &.title
        font-size 2em
        margin 21px 0 20px
        padding 0

      &.description
        margin 2em 0
        resize vertical
        font-size 1em

  .banner
    width 100%

  .tools
    padding 0

    .cardinality
      section
        input
          placeholder-color(rgba(255,255,255,.8))
          width 47%
          text-align center
          float left
          background lighten(#ADBCCA,10%)
          border-radius $radius
          font-size 1.3em
          padding 8px 0 8px
          margin 9px 0 8px
          position initial
          color white

          &:focus
            background rgba(255,255,255,.05)

          &:first-of-type
            margin-right 3%

          &:last-of-type
            margin-left 3%

  .isEditing
    border-bottom-color #ddd

  .dictionary
    height 27.5%
    position relative
    background #fff

    .dummy.content
      pointer-events none
      .entry
        ul
          li
            p
              color transparent
              cursor default

            &.source
              p
                background lighten($source, 50%)
                border-color lighten($source, 48%)

            &.target
              p
                background lighten($target, 65%)
                border-color lighten($target, 63%)

        &:hover
          background transparent
          border-top-color transparent
          border-bottom-color transparent

      &:hover
          background transparent
          border-top-color transparent
          border-bottom-color transparent


    .startBook
      background $buttonBlue
      color white
      border none
      font-size 1em
      padding .9em 1.4em
      font-weight 100
      display block
      cursor pointer
      min-width 45%
      border-radius 3px
      margin 0 auto 20px
      transition margin-bottom $time ease-in-out

      &.disabled
        margin-bottom -70px