.book
  width 100%
  margin-bottom 115px

  *
    font-weight 100

  fieldset
    border none

  .info, .cardinality, img.banner
    display inline-block
    width 100%
    background #fff

  .info, .cardinality, img.banner
    float left

  .bannerWrapper
    height 400px
    overflow hidden
    width 100%
    position relative
    background-size cover
    background-position center

  .info
    position relative
    padding 0 65px

    .wrapper
      width 600px
      margin auto
      position relative
      display table

      .menu
        top 20px
        right 10px

      section
        button
          border none
          padding 8px
          margin 7px
          position relative
          cursor pointer
          background transparent
          border-radius 100%
          outline none

          &:hover
            .buttonBackground
              height 45px
              width 45px
              margin -4px -4.6px

          &:active
            padding 9px 8px 7px

            img.star
              float left

          &.favorite
            float left

          &.deleteBook
            float right

          span.buttonBackground
            height 0px
            width 0px
            display block
            display none
            position absolute
            z-index 0
            background #f7f7f7
            margin 29.5px
            border-radius 100%
            box-shadow inset 0 1px 1px rgba(0,0,0,0.1)
            transition all $time ease-in-out

        h1
          float left
          margin 12px 0
          padding 1px 1px 3px
          font-size 2em
          width 78%
          white-space nowrap
          text-overflow ellipsis
          overflow hidden

      h3
        line-height 2.4em
        margin-bottom 0
        float right

      p
        width 100%
        float left

        &.author
          font-size 12px
          color #aaa

        &.description
          min-height 44px
          margin 2em 0
          padding 2px 2px 4px

  .cardinality
    position relative
    z-index 5
    boxShadow()

    section
      width 600px
      display table
      float none
      margin auto

    h1
      width 50%
      float left
      text-align center

    img
      box-shadow none
      border-bottom none
      float left
      margin 1.1em -20px
      width 40px
      height 40px
      padding 10px
      background #fff
      position relative
      z-index 10