li.entry
  float left
  width 100%
  display inline-block
  padding 1em
  border-top 1px solid
  border-bottom 1px solid
  border-color transparent
  transition background $time*2 ease-in-out

  &.pre
    ul
      margin 0

      li.target
        opacity .3
        p
          min-height 61px
          min-width 61px

  &:hover
    background white
    border-top-color lighten(#E7EFF2, 55%)
    border-bottom-color lighten(#E7EFF2, 55%)

    ul li.menu .more
      opacity 1

  ul li.menu .more
    &:focus
      opacity 1

  &:last-of-type
    border-bottom none

  ul
    display inline-block
    width 100%
    padding 0
    float left
    position relative

    li
      display inline-block
      width 100%
      float left

      &:hover
        .options-wrapper
            width 123px

      p, input
        width initial
        display inline-block
        margin 0
        padding .7em 1em
        position relative
        z-index 1
        font-size 1.2em
        max-width 90%
        overflow hidden
        text-overflow ellipsis
        border-style solid
        outline none

      input
        width 80%

      &.source
        p
          border-width 1px
          margin 2px 2px 4px 2px
          border-radius 31px 31px 31px 0
          float left

        p
          background $source
          border 1px solid darken($source, 2%)
          margin 2px 2px 6px 2px

        .video
          float left
          border-radius 31px 31px 31px 0
          background darken($source, 2%)

        input
          margin 2px 2px 6px 2px
          background $source
          border-color darken($source, 2%)

        input
          border-width 3px
          margin-bottom 6px
          border-radius 31px 31px 31px 0
          float left
          background transparent
          border-color darken($source, 2%)

          &:focus, &:active
            margin 0 2px 4px 2px
            border-color $source

      &.target
        p
          border-width 1px
          border-radius 31px 31px 0 31px
          margin 2px
          float right

        p
          background $target
          border 1px solid darken($target, 2%)
          margin 2px

        .video
          float right
          border-radius 31px 31px 0px 31px
          background $target

        input
          border-width 3px
          border-radius 31px 31px 0 31px
          border-color darken($target, 2%)
          margin-bottom 1px
          text-align right
          float right
          background transparent
          margin 2px

          &:focus, &:active
            margin-top 0
            border-color $target

      input:focus, input:active
        border-width 3px
        border-style solid
        background white
        outline none
        border-color darken($target, 2%)

        input
          border-width 3px
          margin-bottom 1px
          text-align right
          border-radius 31px 31px 0 31px
          float right
          background transparent
          border-color darken($target, 2%)

      &.menu
        width 40px
        top -10px
        right -10px

        &:hover
          width 120px

          .icon
            margin 0
            opacity 1

        .icon
          opacity 0

        &.saving
          width 120px

          .icon
            opacity 1

.video
  min-height 370px
  max-width 90%
  width 100%
  overflow hidden
  margin-bottom 6px
  position relative

  .videoLoader
    margin 175px auto
    display table

  video
    background inherit
    width 100%
    float left
    min-height 370px

.progressTicker
  display inline-block
  width 18px
  padding-top 1em

  @keyframes waiting
    0%
      transform translateY(0px)
    40%
      transform translateY(-6px)
    80%,100%
      transform translateY(0px)

  span
    background #4F6387
    border-radius 100%
    margin 0 3px 0 0
    height 4px
    width 4px
    float left

    &:nth-of-type(1)
      -webkit-animation waiting 1.2s 0s infinite cubic-bezier(.60,0,.40,1)

    &:nth-of-type(2)
      -webkit-animation waiting 1.2s .1s infinite cubic-bezier(.60,0,.40,1)

    &:nth-of-type(3)
      margin 0
      -webkit-animation waiting 1.2s .2s infinite cubic-bezier(.60,0,.40,1)

@keyframes loading
  0%
    transform rotate(0deg)

  100%
    transform rotate(360deg)

.loader
  position relative
  margin 179px auto 199px
  display table

  span
    margin 0
    position absolute
    height 20px
    width 4px
    transform translateZ(0)

    &:nth-of-type(1)
      -webkit-animation loading 1.2s 0s infinite cubic-bezier(.60,0,.40,1)

    &:nth-of-type(2)
      -webkit-animation loading 1.2s .1s infinite cubic-bezier(.60,0,.40,1)

    &:nth-of-type(3)
      -webkit-animation loading 1.2s .2s infinite cubic-bezier(.60,0,.40,1)

    span
      border-radius 100%
      width 4px
      height 4px
      background #4F6387