.bootbox
  z-index 20
  position fixed
  right 50px
  bottom 40px
  border-radius 4px
  color #fff
  border 1px solid #ff4c4c
  background #ff5f66

  .modal-dialog
    .modal-content
      .modal-body
        display inline-block
        float left

        .bootbox-body
          max-width 200px
          float right
          padding 22px 20px 22px 21px
          border-right 1px solid #ea4343

      .modal-footer
        display inline-block
        float left

        button
          margin-top initial !important
          float right
          background transparent
          border none
          color #fff
          font-size 1em
          line-height 1.2
          padding 22px 21px 22px 20px
          cursor pointer