.navBar
  width 55%
  position absolute
  top 0
  z-index 6
  left 50%
  transform translateX(-50%)

  .searchBar
    height 62px
    margin auto
    width 100%
    position absolute

    img
      position absolute
      z-index 2
      margin 16px

      &:hover~input, &:active~input, &:focus~input
        background-color #F7F7F7

      &.sort
        float right

    input
      width 100%
      padding 1em 1em 1em 55px
      font-size 1em
      font-family $sans
      font-weight 100
      outline none
      border 4px solid #fff
      transition all $time ease-in-out

      &:hover, &:active, &:focus
        background-color #F7F7F7

  button.sort
    height 45px
    width 45px
    outline none
    background transparent
    border none
    padding 0
    cursor pointer
    position relative
    margin 8px
    float right

    img
      position relative
      z-index 1

    .buttonBackground
      height 0px
      width 0px
      display block
      position absolute
      top 0
      left 0
      z-index 0
      background #f7f7f7
      margin 29.5px
      border-radius 100%
      transition all $time ease-in-out

    &:hover
      .buttonBackground
        height 45px
        width 45px
        margin 0px

.dashboard
  float left
  width 100%

  h3
    position absolute
    margin 0
    padding 1em
    font-weight 100
    color $secondary-blue

  section
    ul
      background #fff
      padding 0
      margin 0 auto
      list-style-type none
      width 55%
      min-width 700px
      box-shadow 0 1px 2px rgba(0,0,0,0.1)
      transition background $time*2 ease-in-out

      &:hover
        background lighten(#E7EFF2, 80%)

      &.sort
        padding 15px
        position relative
        z-index 4
        left 50%
        transform translateX(-50%)
        width 53%
        min-width 680px
        display inline-block

        &:hover
          background #fff

        li
          float left
          font-size 14px
          width (100/6)%


          &.favorite
            a
              img
                width 15px
                height 15px
                padding 0

          a
            margin 0 auto
            text-align center
            display inherit
            text-decoration none

            cursor pointer

            &.active
              border-bottom 2px solid darken($hover, 10%)

            &:hover
              color #ccc

      li
        font-size 1.5em
        overflow hidden
        display table

        &.content
          border-bottom 1px solid lighten(#E7EFF2, 35%)
          width 100%
          transition background $time*2 ease-in-out

          &:last-of-type
            border-radius 0 0 $radius $radius

          &:hover
            background #fff
            border-bottom-color lighten(#E7EFF2, 55%)

          a
            display inline-block
            width 100%
            height 100%
            float left

            img
              float left
              margin 30px

            p
              margin 15px 0 0 0
              float left
              overflow hidden
              text-overflow ellipsis
              white-space nowrap

            section
              height 100%
              display inline-block
              width 70%

              &.info
                width 100%
                float left
                display inline-block

                .banner
                  float left
                  margin 0
                  height 100px
                  width 100px
                  display inline-block
                  overflow hidden
                  background #62eaba
                  background -moz-linear-gradient(-45deg, #62eaba 0%, #24c9b3 100%)
                  background -webkit-linear-gradient(-45deg, #62eaba 0%,#24c9b3 100%)
                  background linear-gradient(135deg, #62eaba 0%,#24c9b3 100%)
                  position relative

                  img
                    margin 0
                    position absolute
                    left 50%
                    transform translateX(-50%)
                    min-width 100px
                    height 100px

                section
                  margin-left 18px

                button
                  &.favorite
                    float right
                    padding 4px 0 0 0
                    margin 14px 20px 30px 20px
                    border none
                    cursor pointer
                    background transparent
                    border-radius 100%
                    outline none

                    &:active
                      padding-top 9px

                    img.star
                      height 25px
                      float left
                      margin 0
                      padding 0

              &.details
                width 70%
                float left
                // margin-left 10px

                .language
                  float left
                  font-weight 100

                  p
                    text-align center
                    padding 0
                    font-size .7em
                    line-height 1.9
                    margin 0

                img
                  float left
                  margin 6px 10px
                  padding 4px

  .newBook
    position fixed
    bottom .5em
    left 50%
    margin-left -30px
    materialButton()