#featureContainer
  width 600px
  background white
  boxShadow()
  display block
  border-radius $radius
  margin auto
  float left
  margin-left 20px
  overflow auto
  position relative

  h2
    font-weight 100
    font-size 2em
    background $buttonBlue
    color white
    padding 20px 40px
    margin 0
    boxShadow()

    span
      font-size .4em
      margin-top 18px
      float right

  .content
    padding 20px 40px 40px

    p.small
      font-size .7em
      color $buttonBlue

    ul
      padding-left 1em
      list-style-type none

    > ul
      padding 0
      > li
        >ul
          padding .8em 1em 1.2em

        b
          background $buttonBlue
          color white
          width 100%
          padding 1em
          display block

        >i
          text-decoration none
          b
            &::after
              content "(Deployed)"
              float right

  s
    color #ccc

  a
    border-bottom 3px solid $hover
    line-height 12px
    display inline-block
    text-decoration none
    text-shadow 1px 1px 0px white, -1px 1px white, 1px 0px 0px white, -1px 0 0 white