#featureContainer
  width 600px
  background white
  boxShadow()
  padding 40px
  display block
  border-radius $radius
  margin auto
  overflow auto
  position relative

  h2
    color red
    margin 0
    font-weight 100
    font-size 2em

  ul
    padding-left 1em
    margin-bottom 1em

  >ul
    > li
      &:nth-of-type(2n)
        background #fafafa

  i
    text-decoration line-through