footer
  position relative
  z-index 1
  background linear-gradient(346.06deg, #001E2F 0%, #11242F 100%)
  color #ffffff
  padding 24px
  display inline-block
  width 100%

  span
    float left
    background-color #ffffff
    border-radius 100%
    padding 5px 5px 1px
    margin-right 20px

    img
      width 50px

  h2, h3
    font-weight 500

  > h2
    float left
    line-height 30px

  ul
    padding 0
    list-style none

  > ul
    &:first-of-type
      float left
      clear left

      > li
        margin-right 32px

    &:nth-of-type(2)
      float right

      > li
        margin-left 32px

    > li
      float left

    li
      line-height 2

      a, a:visited
        color #78858A
        text-decoration none

      h3
        margin 0

        a, a:visited
          color #ffffff

  p
    width 100%
    color #78858A
    float left

