// $c2 = $hover
// $c3 = #A9A9A9
// $c4 = #E5E5E6

// t()
//   transition $time*2 ease all

// l()
//   color $c3
//   font-size 18px
//   font-weight 100

// @keyframes inputHighlighter
//   from
//     background $c2

//   to
//     width 0
//     background transparent

// form
//   width 100%
//   margin 30px auto
//   display inline-block

//   .grouping
//     width 100%
//     float left
//     padding 0
//     margin 0
//     display inline-block

//     .input
//       position relative
//       margin 40px auto 0
//       width 70%
//       display block

//       input
//         font-size 18px
//         margin-top 11px
//         min-height 32px
//         font-family $roboto
//         color black
//         padding 10px 10px 10px 10px
//         width 100%
//         border none
//         border-bottom 1px solid $c4
//         font-weight 300

//         &:focus
//           outline none

//           & ~ .bar
//             &:before, &:after
//               width 50%

//           & ~ .highlight
//             animation inputHighlighter 0.3s ease

//         &:focus ~ label, &:valid ~ label
//           top -11px
//           font-size 12px
//           font-weight 200
//           color black

//       label
//         l()
//         position absolute
//         pointer-events none
//         left 10px
//         top 16px
//         t()

//       .bar
//         position relative
//         display block
//         width 100%

//         &:before, &:after
//           content ''
//           height 3px
//           width 0
//           bottom 0
//           position absolute
//           background $c2
//           t()

//         &:before
//           left 50%

//         &:after
//           right 50%

//       .highlight
//         position absolute
//         height 25px
//         width 25px
//         border-radius 100%
//         top 12px
//         left 0
//         pointer-events none
//         opacity .5

//   button
//     border none
//     cursor pointer
//     min-width 45%
//     margin 44px auto
//     display block
//     float none
//     padding 20px
//     font-size 24px
//     background #4799FC
//     color white
//     border-radius 3px
//     box-shadow 0 1px 0 #336FB0, 0 2px 4px rgba(34,84,137,0.5)
//     border-top 1px solid #68ABFD !important

// .noscroll
//   overflow hidden