.icon
  padding 6px 7px
  border none
  background-color transparent

  &:not(.cardinality)
    cursor pointer

  &.home
    height 40px
    width 40px
    margin 12px 10px
    padding 0

  &.more
    padding 9px

  &.close
    padding 9px

  &.cardinality
    height 20px
    width 20px
    float left

    &.bookEntry
      margin 6px 10px