.icon
  padding 2px

  &.home
    height 40px

  &.search
    height 30px

  &.more
    height 45px
    padding 10px

  &.star
    height 35px

  &.cardinality
    background-image url("/assets/icons/i_cardinality")
    background-size 14px
    background-position 3px 3px
    height 20px
    width 20px
    background-repeat no-repeat
    float left
    margin 6px 10px

  &.trash
    height 35px

  &.sort
    height 35px

  &.check
    height 35px