.icon
  padding 7px
  border none
  cursor pointer

  &.home
    height 40px
    width 40px
    margin 12px 10px
    padding 0

  &.search
    height 28px
    width 28px
    display block
    float left
    background-image url("/assets/icons/i_search")
    background-size cover
    background-position center
    margin 15px
    opacity .4
    transition opacity $time ease-in-out

    &:hover
      opacity 1

  &.more
    padding 9px

  &.close
    padding 9px

  &.save
    padding 10px

  &.star
    height 28px
    width 28px
    display block
    float right
    background-image url("/assets/icons/i_unstarred")
    background-size cover
    background-position center
    margin 13px 15px 15px
    opacity .6
    transition opacity $time ease-in-out

    &:hover
      opacity 1

    &.starred, &:active
      background-image url("/assets/icons/i_starred")

  &.cardinality
    height 20px
    width 20px
    float left

    &.bookEntry
      margin 6px 10px

    &.book
      margin 26px 2px
      box-shadow none

  &.sort
    height 35px

  &.check
    height 35px