.logIn, .loggedIn
  float right
  margin 15px

.loggedIn
  a
    textButton()
    background transparent
    color $darkBlue

    &:hover
      background lighten($blue,90%)
    &:visited
      background transparent

.logIn
  p
    padding 9px
    margin 0

  a
    textButton()
    background transparent
    color black
    // border 1px solid rgba(71,153,252,1)

    &.signInButton
      color $white
      background $blue
      border 1px solid rgba(71,153,252,0.1)

    &:visited
      background transparent

.indexContent
  margin-top 80px

.dashboard
  float left
  width 100%

  .newBook
    position fixed
    z-index 2
    bottom .5em
    left 50%
    margin-left -30px
    materialButton()

    &:focus
      outline none
      box-shadow 0 1px 0 #336fb0, 0 2px 4px rgba(34,84,137,0.5), 0px 1px 0px 5px #FEC23D

  .indexContent
    display table
    position relative
    z-index 1
    width 100%
    max-width 600px
    min-width 450px
    margin-left auto
    margin-right auto
    border-radius 2*$radius
    overflow hidden
    border-left 1px solid rgba(0,0,0,0.15)
    border-right 1px solid rgba(0,0,0,0.15)
    border-bottom 1px solid rgba(0,0,0,0.15)

    .controlPanel
      boxShadow()
      height 60px
      // border-radius 2*$radius 2*$radius 0 0

      button, a
        border none
        background $blue
        transition background $time ease-in-out
        color $white
        padding 15px
        float left
        font-size 1em
        font-weight 100
        position relative

      button
        cursor initial
        &:first-of-type
          float left
          z-index 2

        &:last-of-type
          float right
          z-index 2

        img
          float left
          height 30px
          width 30px
          // opacity .3

      a
        position absolute
        z-index 1
        text-align center
        width 100%
        display table
        padding 21px 20px 20px 20px
        text-decoration none
        border-radius 2*$radius 2*$radius 0 0

        &:hover
          background lighten($blue,10%)