#profile.editProfile
  width initial
  z-index 2

  .userInformation
    float none
    margin auto
    display inline-block
    width 600px

    .wrapper
      background lighten($whiteHover, 70%)

      .details
        width 400px
        background white
        border-left 1px solid darken($whiteHover, 0%)

        p
          font-size 1em
          display inline-block

          &.joined
            font-size .8em

        form
          margin-bottom 30px
          display inline-block
          width 100%

          &:nth-of-type(2)
            border-top 1px solid $whiteHover

          .field_with_errors
            input
              placeholder-color($red)

              &:focus
                placeholder-color(transparent)

          #error_explanation
            display inline-block

            h2
              display none

            ul
              list-style-type none
              padding 0

              li
                float left
                font-size .8em
                color #767676
                font-style italic
                color #aaa
                background $whiteHover
                padding 5px 8px
                border-radius $radius

        input
          margin-bottom 10px
          padding 5px 0

          &#user_username
            font-size 2em

        input, textarea
          outline none
          border none
          background white
          color #295671
          resize none
          width 100%
          float left
          display inline-block
          font-size 1em

          &[type="submit"]
            color $blue
            width 100%
            text-align left
            cursor pointer
            padding 10px 0

          &:not([type="submit"])
            border-bottom 2px solid $source

        label
          float left
          width 100%
          font-size .7em
          color #aaa
          margin 5px 0

        span.note
          float left
          font-size .8em
          color #767676

          &.email
            margin 1em -0px
            font-style italic
            color #aaa
            background $whiteHover
            padding 5px 8px
            border-radius $radius

        .dangerZone
          border-top 1px solid $whiteHover
          display inline-block

          p
            width 100%
            color $red

          form
            margin 1em 0
            display inline-block
            width 100%

            input
              font-size 1em
              padding .7em
              border-radius $radius
              border 1px solid $darkRed
              background $red
              color $white
              width 100%
              text-align center
              cursor pointer
              margin 0

#login
  width 600px
  background $white
  boxShadow()
  padding 40px
  display block
  border-radius $radius
  margin 80px auto
  overflow auto
  position relative

  h2
    text-align center
    font-size 3em
    font-weight 100

  h3
    text-align center
    font-size 2em
    font-weight 100

  p
    width 60%
    margin auto

  .field
    width 350px
    margin 0 auto 30px
    overflow hidden
    position relative
    position relative

    label
      float left
      text-align right
      margin-right 5px

    i
      display block
      float left
      font-weight 100

    input:not([type="hidden"])
      width 100%
      margin 30px 0 0
      float right
      font-size 18px
      padding 15px
      background #fafafa
      border 1px solid #f6f6f6
      border-bottom-width 3px
      border-radius $radius
      outline none
      transition all ease-in-out $time

      &:hover
        border-bottom-color #f7f7f7

      &:focus
        border-bottom-color $yellow

    .field_with_errors
      input
        border-bottom-color red

  .field.checkbox
    width auto
    display table

    input:not([type="hidden"]), label
      transition opacity ease-in-out $time

    input:not([type="hidden"])
      width auto
      margin 2px 6px 0 0
      float left
      cursor pointer
      opacity 0.4

      &:checked
        opacity 1

        ~ label
          opacity 1

    label
      position initial
      width auto
      text-align left
      cursor pointer
      opacity 0.4

    &:hover
      cursor pointer

      input:not([type="hidden"]), label
        opacity 1

  .actions
    margin 20px

    input
      margin auto
      display block
      cursor pointer
      textButton()
      color $white
      font-size 16px

    &.delete
      input
        background #ddd

  span
    width 49.5%
    display inline-block

    &:nth-of-type(2)
      text-align right

    &.center
      width 100%
      margin-top 15px
      text-align center

    a
      cursor pointer
      color lighten($darkBlue, 35%)
      text-decoration none

      &:hover
        text-decoration underline

  .container
    position relative
    transition margin-left $time*2 ease-in-out

    form
      float left
      width 600px
      padding 0 40px

      &.resetPassword
        button
          margin-top 140px

  #error_explanation
    background #FFE9E9
    padding 3em 0
    margin 3em auto
    width 90%

    h2
      margin 0 auto
      font-size 2em
      width 370px

    ul
      list-style-type none
      padding 0
      margin 3em 0 0
      text-align center