#login
  entryPage()

  .field
    width 350px
    margin 0 auto 30px
    overflow hidden
    position relative
    position relative

    label
      margin-top 6px
      width 25%
      float left
      text-align right

    input:not([type="hidden"])
      width 72%
      margin-left 3%
      float right

      font-size 18px
      padding 15px
      background #fafafa
      border 3px solid transparent
      border-radius $radius
      outline none
      transition all ease-in-out $time

      &:hover
        border-bottom-color #f7f7f7

      &:focus
        border-bottom-color $hover

  .field.checkbox
    width auto
    display table
    opacity 0.4
    transition opacity ease-in-out $time

    input:not([type="hidden"])
      width auto
      margin 2px 6px 0 0
      float left
      cursor pointer

    label
      width 61%
      margin-left 3%
      float right
      text-align left

  .actions
    margin 20px

    input
      margin auto
      display block
      cursor pointer
      textButton()
      font-size 16px

  span
    width 49.5%
    display inline-block

#signup
  entryPage()

  .field
    label
    input
      width 100%

  span
    width 100%
    display inline-block
