#login
  entryPage()

  .field
    label
      margin-top 6px
      width 25%
      float left
      text-align right

    input:not([type="hidden"])
      width 72%
      margin-left 3%
      float right

  .field.checkbox
    label
      width 61%
      margin-left 3%
      float right
      text-align left

    input[type="checkbox"]
      width 2%
      height 20px
      margin-left 32%
      float none

  span
    width 49.5%
    display inline-block

#signup
  entryPage()

  .field
    label
    input
      width 100%

  span
    width 100%
    display inline-block
