/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2) {

// }

/* Portrait */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
// }

/* Landscape */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {

// }

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {

// }

/* Portrait */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
// }

/* Landscape */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {

// }

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width 375px) and (max-device-width 667px) and (-webkit-min-device-pixel-ratio 2)
  html
    -webkit-text-size-adjust 350%

    body
      #login
        width 100%

        span:nth-of-type(2)
          float right

        .field
          width 90%
      .container
        nav
          height initial

          .icon
            height 120px
            width 120px
            margin 14px 0 12px 25px

          .logIn, .loggedIn
            margin 22px

            a
              padding 22px 30px

            p
              padding 0 22px

        .welcomeBar
          display none

        .dashboard
          .bookEntryList
            width 100%

            .bookEntry
              border-bottom-width 3px
              a
                section
                  width 100%

                  &.info
                    .clear
                      .title
                        font-size 1.1em
                        margin 40px 0 22px 40px

                      .details
                        margin 0 0 0 40px

                        img
                          height 40px
                          width 40px
                          margin 10px 22px

                        .language
                          font-size 14px

                    .meta
                      padding 10px 40px 40px 40px

                      p
                        margin 0
                        padding 0
                        clear initial

                      .author
                        float left

          .newBook
            line-height .3
            height 180px
            width 180px
            margin-left 0
            transform translateX(-50%)

        .book
          margin-bottom 0

          .info
            .wrapper
              width initial

              h1, input
                width 80%
                float left
                font-size 21px

              input.title
                padding 0

              .description
                margin 1em 0
                font-size 13px

              .menu
                top 50px
                right -20px

          .cardinality
            border-top 3px solid #eee

            section
              width 100%

              .language
                width 50%
                font-size 16px

              input
                margin-bottom 0

              img
                margin 1.1em -30px
                height 60px
                width 60px

          .dictionary
            width 100%

            .content
              .entry
                padding .6em .6em .3em .6em

                ul
                  li
                    p, input
                      font-size .9em

                    &.source
                      p, input
                        margin-bottom 15px
                        border-radius 120px 120px 120px 0

                    &.target
                      p, input
                        border-radius 120px 120px 0 120px

              &.dummy
                .entry
                  &:not(:first-of-type)
                    display none

            .addPhrase
              line-height initial
              height 180px
              width 180px
              padding 0

            .inputMethod
              label
                font-size .7em

                input
                  width 40px
                  height 40px
                  margin 6px 25px 0 0

              button
                width 80px
                height 80px
                margin 35px

            .newPhrase
              input
                width 80%
                padding 1em
                font-size .8em
                height initial

              button
                font-size .7em
                padding 50px 0
                width 20%

          .menu
            width 100px
            height 100px

            button
              padding 10px
              width 80px
              height 80px

            &.saving
                width 160px

            &:hover
              width 240px

              &.saving
                width 160px

          form
            .info
              .wrapper
                .new.title
                  width 100%

            .new
              padding-bottom 10px
              border-bottom-width 3px

        #profile
          min-width initial

          .info,
          .dashboard
            float left
            width 100%

          .info
            padding 0

            .wrapper
              max-width initial
              padding 1em

          .dashboard
            h1, .bookEntryList
              width 95%

            h1
              margin-top .3em
              font-size 1.2em
              text-align left
              padding 40px

/* Portrait */
// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 667px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {

// }

/* Landscape */
// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 667px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {

// }

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
// @media only screen
//   and (min-device-width: 414px)
//   and (max-device-width: 736px)
//   and (-webkit-min-device-pixel-ratio: 3) {

// }

/* Portrait */
// @media only screen
//   and (min-device-width: 414px)
//   and (max-device-width: 736px)
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) {

// }

/* Landscape */
// @media only screen
//   and (min-device-width: 414px)
//   and (max-device-width: 736px)
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) {

// }