@media (max-width:720px)
  html
    body
      nav
        form
          margin-left 60px
          left 0

@media (max-width: 930px)
  html
    body
      nav
        form
          width 2*(100/3)%

@media (min-width: 930px)
  html
    body
      nav
        a.icon.home
          width 180px
          &:hover, &:focus
            > img
              margin-left -2px

            .detail
              width 122px
              margin-left 3px

        form
          width 100%


@media only screen and (min-device-width 340px) and (max-device-width 667px) and (-webkit-min-device-pixel-ratio 2)
  html
    body
      .brand
        position relative
        color transparent

        img
          position absolute
          left 50%
          transform translateX(-50%)
          color transparent

      .bootbox
        right 10px
        left 10px
        bottom 10px

        .modal-dialog .modal-content .modal-body .bootbox-body
          width 290px
          max-width initial

      .backgroundElement
        display none

      nav
          min-width auto
          margin-bottom 0

          a
            &.icon.home
              width initial

              .detail
                display none

            &:hover, &:focus
              > img
                margin-left 0 !important

          form
            max-width 55%
            min-width auto
            width initial
            position initial
            left 0
            margin-left 0

          span
            &.loggedIn
              width 78px

              .currentUser
                display none

              a
                padding 8px 15px

      #login
        width initial

        h2
          font-size 2em
          margin-top 0

        .field
          width 100%

      .container
        padding-bottom 0

        #profile
          width 100%
          display inline-block

          .userInformation
            width 100%

            .wrapper
              .details
                max-width 140px

          .dashboard
            margin-top 20px
            min-width 100%


        .dashboard
          width 100%

          .indexContent
            min-width initial
            border-left none
            border-right none
            border-radius 0

            .controlPanel
              a
                border-radius 0

        .book
          display block
          float left
          margin 0
          min-width initial

          .tools
            width 100%
            border-radius 0
            display inline-block
            float left

            .cardinality
              width 255px

          .dictionary
            .content
              .entry
                padding .5em

            .newPhrase
              input
                width initial