nav
  height 63px
  background white
  boxShadow()
  position relative
  z-index 5
  width 100%
  float left
  padding 0
  margin-bottom 20px

  a
    float left

  a,
  span.logIn a,
  span.logIn p
    display inline-block
    text-decoration none

  .loggedIn
    height 33px
    width 138px
    float right
    overflow hidden

    &:hover
      height 62px
      box-shadow 0 1px 2px 1px rgba(0,0,0,0.15)

      a
        &:first-of-type
          border-radius $radius $radius 0 0
        &:last-of-type
          border-top none
          border-radius 0 0 $radius $radius

        &:hover
          background $buttonBlue
          color white

    a
      width 100%
      background white

  .currentUser
    float left

  form
    max-width 600px
    min-width 450px
    margin-top 13px
    width 100%
    position absolute
    left 50%
    margin-left -300px

    img
      float left
      margin 9px -55px 0 18px
      position relative
      height 20px

    input
      border-radius $radius
      width 100%
      font-size 16px
      padding 8px 8px 8px 55px
      float left
      border 1px solid #eee
      // border-right none
      font-weight 100

      &:focus, &:hover
        background #fafafa