nav
  height 63px
  background white
  boxShadow()
  position relative
  z-index 5
  width 100%
  min-width 970px
  float left
  padding 0
  margin-bottom 20px

  a
    float left

    &.icon.home
      height 40px
      width 180px
      float left

      img
        height 40px
        float left

      > img
        width 40px
        transition all $time ease-in-out

      .detail
        overflow hidden
        width 0
        display inline-block
        margin-left -7px
        transition all $time ease-in-out

      &:hover, &:focus
        outline none
        > img
          margin-left -2px

        .detail
          width 122px
          margin-left 3px

  a,
  span.logIn a,
  span.logIn p
    display inline-block
    text-decoration none

  .loggedIn
    height 33px
    width 140px
    float right
    overflow hidden

    &:hover
      height 92px
      box-shadow 0 1px 2px 1px rgba(0,0,0,0.15)

      a
        &:first-of-type
          border-radius $radius $radius 0 0
        &:last-of-type
          border-top none
          border-radius 0 0 $radius $radius

        &:hover
          background $buttonBlue
          color white

    a
      width 100%
      background white

      span
        display block

      img.mobile
        display none

  .currentUser
    float left

  form
    max-width 600px
    min-width 450px
    margin-top 13px
    width 100%
    float left
    position absolute
    left 50%
    margin-left -300px

    img
      float left
      margin 9px -55px 0 18px
      position relative
      height 20px
      pointer-events none

    input
      border-radius $radius
      width 100%
      font-size 16px
      padding 8px 8px 8px 55px
      float left
      border 1px solid #eee
      // border-right none
      font-weight 100

      &:focus, &:hover
        background #fafafa