nav
  height 63px
  background white
  boxShadow()
  position relative
  z-index 5
  width 100%
  float left
  padding 0

  a,
  span.logIn a,
  span.logIn p
    display inline-block
    text-decoration none

  .currentUser
    float left