*
  box-sizing border-box
  font-family $sans

html
  width 100%

  body
    width inherit
    margin 0
    display inline-block
    background #F2F5F6

    .container
      display inline-block
      width 100%
      padding-bottom 90px

a
  color $blue

  &:visited
    background #fafafa
    color lighten($blue, 20%)

  &:active
    color $blue

p.version
  margin 0
  padding 10px 20px
  opacity .3
  float left

.brand
  $sans
  opacity .2
  position fixed
  right 0
  bottom 0
  padding 60px
  margin 0
  font-size 16px
  transition opacity $time ease-in-out

  &:hover
    opacity .3

  img
    float left
    height 30px
    margin-right 5px
    margin-top -10px

.flash_notice, .flash_alert
  z-index 10
  font-weight 100
  text-align center
  padding 22px 41px
  border-radius $radius
  position absolute
  right 50px
  bottom 40px
  boxShadow()

.flash_notice
  border 1px solid #575f6b
  background #5c6470
  color #c7e0ff

.flash_alert
  color #e85e85
  border 1px solid #ffe5e5
  background #FFE9E9

.backgroundElement
  position absolute
  z-index 0
  width 100%
  height 180px
  background #90A2B7
  border-bottom 3px solid #7e95ae
  left 0
  top 60px