*
  box-sizing border-box
  font-family $sans

html
  width 100%

  body
    width inherit
    margin 0
    display inline-block
    background #eee

a
  color $blue

  &:visited
    background #fafafa
    color lighten($blue, 20%)

  &:active
    color $blue

p.version
  margin 0
  padding 10px 20px
  opacity .3
  float left

.flash_notice
  z-index 10
  width 100%
  text-align center
  background #E9FFE9
  padding 21px
