#profile
  width 850px
  display table
  position relative
  margin auto

  .userInformation
    width 230px
    float left
    margin 0 1%

    .wrapper
      background #fff
      border-radius $radius
      padding 15px
      color #295671
      border 1px solid rgba(0,0,0,0.15)
      boxShadow()

      img
        margin-bottom 20px

      h2
        font-weight 100
        margin 0
        font-weight 300

      p
        font-weight 100

  .languages
    float left
    margin 0 0 2em 0

    span.language
      padding 10px
      border-radius 20px
      float left
      margin 5px
      background #E7EFF2

  .follow
    margin auto
    display block
    textButton()
    color white
    font-size 16px

  .dashboard
    width 100%
    max-width 600px
    min-width 450px
    float left
    display inline-block
    position relative
    padding-left 20px

    .indexContent
      width 100%

    ul
      float left
      width 100%

    .header
      float left
      font-weight 100
      text-align center
      margin 0
      padding 20px
      background #ADBCCA
      color white
      text-decoration none

    p.header
      width 460px

    a.header:hover
      background lighten(#ADBCCA,10%)

    .newBook
      position absolute
      bottom -2em
      margin 0 0 0 -30px
