#profile
  width 100%
  min-width 1060px
  display inline-block

  > .info
    float left
    width (100/3)%
    padding 3em 0 3em 3em

    .wrapper
      background #fff
      padding 3em
      width 100%
      max-width 400px
      boxShadow()

      img
        margin-bottom 20px

      h2
        font-weight 100
        margin 0

  .languages
    float left
    margin 0 0 2em 0

    span.language
      padding 10px
      border-radius 20px
      float left
      margin 5px
      background #E7EFF2

  .follow
    margin auto
    display block
    textButton()
    color white
    font-size 16px

  .dashboard
    width ((100/3)*2)%
    float left
    display inline-block
    position relative

    h1
      font-weight 100
      text-align center
      width 55%
      min-width 700px
      margin 2em auto 0
      padding 20px
      background $buttonBlue
      color white

    .newBook
      position absolute
      bottom -2em
      margin 0 0 0 -30px
