#profile
  width 1070px
  display table
  position relative
  margin auto

  .userInformation
    width 450px
    float left
    margin 0 20px 0 0

    .wrapper
      background #fff
      border-radius 2*$radius
      padding 0
      color #295671
      // border 1px solid rgba(0,0,0,0.15)
      boxShadow()
      display inline-block
      width 100%
      float left
      overflow hidden

      img
        background #EFF5F7

      img, span.details
        float left

      span.tooltip
        float left
        position absolute
        width 33px
        padding 5px
        margin 5px
        text-align center
        left 155px
        border 2px solid rgba(255,255,255,.5)
        color rgba(255,255,255,1)
        text-shadow 0 1px 2px rgba(0,0,0,0.2)
        border-radius 100%
        cursor default

        &::after
            position absolute
            background white
            content "Manage your avatar using Gravatar."
            padding 10px 0
            border-radius 2*$radius
            white-space nowrap
            font-size .8em
            color $blue
            text-shadow none
            width 0
            overflow hidden
            transition all $time ease-in-out
            left 10px
            top -15px
            boxShadow()

        &:hover
          &::after
            padding 10px
            width 200px

      span.details
        width 250px
        padding 15px 20px

        h2
          font-size 2em
          margin 0
          font-weight 300

        p
          font-weight 100
          font-size .8em

        a.editButton
          text-decoration none
          color $blue
          font-size .8em

  .languages
    float left
    margin 0 0 2em 0

    span.language
      padding 10px
      border-radius 20px
      float left
      margin 5px
      background $source

  .follow
    margin auto
    display block
    textButton()
    color white
    font-size 16px

  .dashboard
    width 100%
    max-width 600px
    min-width 450px
    float left
    display inline-block
    position relative

    &.side
      margin-top 20px

      .indexContent
        .controlPanel
          background #90A2B7
          p
            &:hover
              cursor pointer
              background lighten(#90A2B7, 10%)

        .bookEntryList
          li.emptyList
            h2
              padding-left 20px
              font-size 1em
              font-weight 100

          li.bookEntry
            a
              section.info
                .clear
                  .title
                    font-size 1em

                .meta
                  .date
                    margin-bottom 0

    .indexContent
      width 100%

      .controlPanel
        overflow hidden
        background $blue

        p
          float left
          padding 21px 20px 20px
          margin 0
          font-weight 100
          color white
          transition color $time ease-in-out

          span.bookCount
            background transparent
            font-weight 500
            padding 2px 4px
            border-radius $radius

        button
          background transparent
          float left
          padding 21px 20px 20px
          margin 0
          font-weight 100
          color white
          transition color $time ease-in-out
          cursor pointer

          span.bookCount
            background transparent
            font-weight 500
            padding 2px 4px
            border-radius $radius

        button,a
          &:hover
            background lighten(#90A2B7, 15%)

          &:focus
            background lighten(#90A2B7, 10%)
            outline none
            span
              color white

        a
          background transparent
          float right
          position initial
          width auto
          padding 20px
          font-weight 900
          font-size 2em
          line-height .6

      &.books
        .controlPanel
          #books
            color white

            span.bookCount
              background lighten(#90A2B7,20%)

          #favorites
            color lighten(#90A2B7, 50%)


      &.favorites
        .controlPanel
          #books
            color lighten(#90A2B7, 50%)

          #favorites
            color white

            span.bookCount
              background lighten(#90A2B7,20%)

    ul
      float left
      width 100%