.indexContent
  .controlPanel
    background #90A2B7

    p
      float left
      padding 21px 20px 20px
      margin 0
      font-weight 100
      color white
      transition color $time ease-in-out

  .bookEntryList
    margin-bottom 20px