$blue = #11242f
$buttonBlue = #4799FC
$secondary-blue = #B7BCBF
$hover = #FFC328
$border = #f4f4f4
$time = 0.1s
$radius = 2px
$sans = 'Open Sans', sans-serif
$serif = 'Lora', serif
$source = #E7EFF2
$target = #C6E7FF

button()
  font-family $sans
  display inline-block
  resize none
  outline none
  margin 2em initial 0
  padding .7em
  cursor pointer
  text-align center
  border-radius $radius
  background lighten($hover, 40%)
  border none

  &:hover, &:focus
    background $hover

textLink()
  padding 0.2em
  background lighten($hover, 40%)
  margin 0 -0.2em
  border-radius $radius

  &:hover
    background $hover
    color initial

textButton()
  text-decoration none
  text-align center
  border-radius 2px
  padding 8px 10px
  background #4799FC
  text-shadow 0 2px 0 #558FCE
  color white
  border-top 1px solid #68ABFD !important
  
  &:hover
    box-shadow 0 1px 0 #336FB0, 0 2px 4px rgba(34,84,137,0.5)

boxShadow()
  box-shadow 0 1px 2px rgba(0,0,0,0.1)

materialButton()
  font-size 3em
  font-weight bold
  text-decoration none
  height 60px
  width 60px
  text-align center
  line-height 1.2em
  border-radius 100%
  background #4799FC
  text-shadow 0 2px 0 #558FCE
  color white
  box-shadow 0 1px 0 #336FB0, 0 2px 4px rgba(34,84,137,0.5)
  border-top 1px solid #68ABFD !important

placeholder-color(color)
  &::-webkit-input-placeholder
     color color !important
  &:-moz-placeholder  /* Firefox 18- */
     color color !important
  &::-moz-placeholder  /* Firefox 19+ */
     color color !important
  &:-ms-input-placeholder
     color color !important