<%= render 'layouts/header'%>

<div id="featureContainer">
  <h2>What is Poly</h2>
  <div class="content">
    <p>Poly is open source, modern software to share and learn every language in the world.</p>
    <p>Poly streamlines the process of creating and sharing dictionaries between any two languages. Speakers of languages without a written standard, including the world's more than 200 sign languages, are supported by native video functionality.</p>
    <p>Built and maintained by <a href="https://www.wikitongues.org">Wikitongues</a>, the codebase is public and accessible online on <a href="https://www.github.com/wikitongues/poly">github</a>.</p>
  </div>
</div>

<div id="featureContainer">
  <h2>Roadmap <span>Last updated <date>Feb 8, 2017 at 08:24 PM UTC</date></span></h2>
  <div class="content">
    <p>A detailed outline of the product roadmap for Poly. The dynamic version of this list may be found <a href="https://github.com/wikitongues/poly/blob/master/README.md">on github.</a></p>
    <p>For more information about any of these features, or to request specific features not outlined below, please send us an email at <a href="mailto:poly@wikitongues.org">poly@wikitongues.org</a></p>
    <ul>
      <li>
        <b class="deployed">Version 0.1</b>
        <p>Version 0.1 establishes the application. It prepares an application to receive users, allows the creation of books and the input and editing of phrase content.</p>
        <ul>
          <li><input type="checkbox" checked disabled/><span>Create new phrasebook</span></li>
          <li><input type="checkbox" checked disabled/><span>Input and save new phrase</span></li>
          <li><input type="checkbox" checked disabled/><span>Refactor new phrase controller</span></li>
          <li><input type="checkbox" checked disabled/><span>Book title, description, L1, L2 editing</span></li>
          <li><input type="checkbox" checked disabled/><span>Phrase editing</span></li>
          <li><input type="checkbox" checked disabled/><span>Continuous text phrase input (hit enter to save)</span></li>
          <li><input type="checkbox" checked disabled/><span>Book authorship</span></li>
          <li><input type="checkbox" checked disabled/><span>Sign in upon account creation</span></li>
        </ul>
      </li>
      <li>
        <b class="deployed">Version 0.2</b>
        <p>Version 0.2 focuses on developing core features that are not structural. Breaking changes to the schema for implementation of book favoriting. Heavy attention paid to video input and display, as well as search. A user dashboard and profile pages are also anticipated.</p>
        <ul>
          <li><input type="checkbox" checked disabled/><span>Platform</span>
            <ul>
              <li><input type="checkbox" checked disabled/><span>Deployment</span></li>
              <li><input type="checkbox" checked disabled/><span>Alerts</span></li>
              <li><input type="checkbox" checked disabled/><span>Refactor to ES6</span></li>
              <li><input type="checkbox" checked disabled/><span>Testing</span></li>
            </ul>
          </li>
          <li><input type="checkbox" checked disabled/><span>Books</span>
            <ul>
              <li><input type="checkbox" checked disabled/><span>Favorite a book</span></li>
              <li><input type="checkbox" checked disabled/><span>Only save new book if all inputs are complete</span></li>
              <li><input type="checkbox" checked disabled/><span>In-progress phrase ellipsis animation</span></li>
              <li><input type="checkbox" checked disabled/><span>Video phrases</span>
                <ul>
                  <li><input type="checkbox" checked disabled/><span>Video phrase interface</span></li>
                  <li><input type="checkbox" checked disabled/><span>Input video phrases</span></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><input type="checkbox" checked disabled/><span>Users</span>
            <ul>
              <li><input type="checkbox" checked disabled/><span>Proper user validations</span>
                <ul>
                  <li><input type="checkbox" checked disabled/><span>Unique usernames</span></li>
                  <li><input type="checkbox" checked disabled/><span>Handle error messages on login page</span></li>
                </ul>
              </li>
              <li><input type="checkbox" checked disabled/><span>Profile page</span></li>
              <ul>
                <li><input type="checkbox" checked disabled/><span>User name</span></li>
                <li><input type="checkbox" checked disabled/><span>User books</span></li>
                <li><input type="checkbox" checked disabled/><span>Gravatar</span></li>
              </ul>
              <li><input type="checkbox" checked disabled/><span>Password Reset</span></li>
            </ul>
          </li>
          <li><input type="checkbox" checked disabled/><span>Search</span>
            <ul>
              <li><input type="checkbox" checked disabled/><span>Search by language</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><b>Version 0.3</b>
      <p>Version 0.3 introduces breaking changes to the schema for implementation of book type and status, as well as for phrase operations like reordering and rich-text.</p>
        <ul>
          <li><input type="checkbox" disabled/><span>Platform</span>
            <ul>
              <li><input type="checkbox" disabled/><span>Security audit</span></li>
              <li><input type="checkbox" disabled/><span>Phrasebook embed</span></li>
              <li><input type="checkbox" disabled/><span>Phrasebook social sharing</span></li>
            </ul>
          </li>
          <li><input type="checkbox" disabled/><span>Books</span>
            <ul>
              <li><input type="checkbox" disabled/><span>Book type <em>Breaking change</em></span>
                <ul>
                  <li><input type="checkbox" disabled/><span>Public/Private (In Progress)</span></li>
                  <li><input type="checkbox" disabled/><span>Licenses</span></li>
                  <li><input type="checkbox" disabled/><span>Book templates</span></li>
                  <li><input type="checkbox" disabled/><span>Dictionaries</span></li>
                </ul>
              </li>
              <li><input type="checkbox" disabled/><span>Dictionary operations</span>
                <ul>
                  <li><input type="checkbox" disabled/><span>Reorder phrases</span></li>
                  <ul>
                    <li><input type="checkbox" disabled/><span>Alphabetically</span></li>
                    <li><input type="checkbox" disabled/><span>Arbitrarily (Drag & drop)</span></li>
                  </ul>
                  <li><input type="checkbox" disabled/><span>Delete multiple phrases</span></li>
                </ul>
              </li>
              <li><input type="checkbox" disabled/><span>Rich text</span>
                <ul>
                  <li><input type="checkbox" disabled/><span>Descriptions</span></li>
                  <li><input type="checkbox" disabled/><span>Phrases</span></li>
                </ul>
              </li>
              <li><input type="checkbox" disabled/><span>Document scroll position progress marker</span></li>
              <li><input type="checkbox" disabled/><span>Fixed position book languages sub-header</span></li>
              <li><input type="checkbox" checked disabled/><span>Video descriptions</span></li>
              <li><input type="checkbox" disabled/><span>Video phrases</span>
                <ul>
                  <li><input type="checkbox" disabled/><span>Transcribe video phrases</span></li>
                  <li><input type="checkbox" disabled/><span>Upload video phrases</span></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><input type="checkbox" disabled/><span>User</span>
            <ul>
              <li><input type="checkbox" disabled/><span>User edit profile data</span></li>
              <li><input type="checkbox" disabled/><span>User upload profile picture</span></li>
            </ul>
          </li>
          <li><input type="checkbox" disabled/><span>Search</span>
            <ul>
              <li><input type="checkbox" disabled/><span>Search term highlighting</span></li>
              <li><input type="checkbox" disabled/><span>Search by content</span></li>
              <li><input type="checkbox" disabled/><span>Search by title</span></li>
              <li><input type="checkbox" disabled/><span>Search by author</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><b>Version 0.4</b>
        <ul>
          <li><input type="checkbox" disabled/><span>Platform</span>
            <ul>
              <li><input type="checkbox" disabled/><span>User-facing data import / export</span></li>
            </ul>
          </li>
          <li><input type="checkbox" disabled/><span>Books</span>
            <ul>
              <li><input type="checkbox" disabled/><span>Add tags to books</span></li>
              <li><input type="checkbox" disabled/><span>Collaborative Books</span></li>
            </ul>
          </li>
          <li><input type="checkbox" disabled/><span>Users</span>
            <ul>
              <li><input type="checkbox" disabled/><span>Follow a user</span></li>
            </ul>
          </li>
          <li><input type="checkbox" disabled/><span>Search</span>
            <ul>
              <li><input type="checkbox" disabled/><span>Search by tags</span></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><b>Version 1.0</b>
        <ul>
          <li><input type="checkbox" disabled/><span>Platform</span></li>
          <ul>
            <li><input type="checkbox" disabled/><span>Native app</span></li>
            <li><input type="checkbox" disabled/><span>Offline-first architecture</span></li>
            <li><input type="checkbox" disabled/><span>Public API</span></li>
            <li><input type="checkbox" disabled/><span>Language object model</span></li>
          </ul>
        </ul>
      </li>
  </div>
</div>