<%= render 'layouts/header'%>

<div id="featureContainer">
  <h2>What is Poly</h2>
  <div class="content">
    <p>Poly is open source, modern software to share and learn every language in the world.</p>
    <p>Built and maintained by <a href="https://www.wikitongues.org">Wikitongues</a>, the codebase is public and accessible online on <a href="www.github.com/wikitongues/poly">github</a>.</p>
  </div>
</div>

<div id="featureContainer">
  <h2>Roadmap <span>Last updated <date>Jan 24, 2017 at 11:47 PM UTC</date></span></h2>
  <div class="content">
    <p>A detailed outline of the product roadmap for Poly. The dynamic version of this list may be found <a href="https://github.com/wikitongues/poly/blob/master/README.md">on github.</a></p>
    <p>For more information about any of these features, or to request specific features not outlined below, please send us an email at <a href="mailto:poly@wikitongues.org">poly@wikitongues.org</a></p>
    <p class="small"><i><s>Striked out text</s> indicates changes that have been deployed.</i></p>
    <ul>
      <li><i><b>Version 0.1</b></i>
        <ul>
          <li><i><s>Create new phrasebook</s></i></li>
          <li><i><s>Input and save new phrase</s></i></li>
          <li><i><s>Refactor new phrase controller</s></i></li>
          <li><i><s>Book title, description, L1, L2 editing</s></i></li>
          <li><i><s>Phrase editing</s></i></li>
          <li><i><s>Continuous text phrase input (hit enter to save)</s></i></li>
          <li><i><s>Book authorship</s></i></li>
          <li><i><s>Sign in upon account creation</s></i></li>
        </ul>
      </li>
      <li><b>Version 0.2</b>
        <ul>
          <li><i><s>Platform</s></i></li>
          <ul>
            <li><i><s>Deployment</s></i></li>
            <li><i><s>Alerts</s></i></li>
            <li><i><s>Refactor to ES6</s></i></li>
            <li><i><s>Testing</s></i></li>
          </ul>
          <li>Users</li>
          <ul>
            <li><i><s>Proper user validations</s></i></li>
            <ul>
              <li><i><s>Unique usernames</s></i></li>
              <li><i><s>Handle error messages on login page</s></i></li>
            </ul>
            <li>Profile page</li>
            <ul>
              <li><i><s>User name</s></i></li>
              <li><i><s>User books</s></i></li>
              <li><i><s>Gravatar</s></i></li>
              <li>User edit profile data</li>
              <li>User upload profile picture</li>
            </ul>
            <li><i><s>Password Reset</s></i></li>
          </ul>
          <li>Books</li>
          <ul>
            <li><i><s>Favorite a book</s></i></li>
            <li><i><s>Only save new book if all inputs are complete</s></i></li>
            <li><i><s>In-progress phrase ellipsis animation</s></i></li>
            <li>Video descriptions</li>
            <li>Video phrases (In progress)</li>
            <ul>
              <li><i><s>Video phrase interface</s></i></li>
              <li><i><s>Input video phrases</s></i></li>
            </ul>
          </ul>
          <li><i><s>Search</s></i></li>
          <ul>
            <li><i><s>Search by language</s></i></li>
          </ul>
        </ul>
      </li>
      <li><b>Version 0.3</b>
        <ul>
          <li>Platform</li>
          <ul>
            <li>Security audit</li>
            <li>Phrasebook embed</li>
          </ul>
          <li>Books</li>
          <ul>
            <li>Book type <em>Breaking change</em></li>
            <ul>
              <li>Public/Private (In Progress)</li>
              <li>Licenses</li>
              <li>Book templates</li>
              <li>Dictionaries</li>
            </ul>
            <li>Dictionary operations</li>
            <ul>
              <li>Reorder phrases</li>
              <ul>
                <li>Alphabetically</li>
                <li>Arbitrarily (Drag & drop)</li>
              </ul>
              <li>Delete multiple phrases</li>
            </ul>
            <li>Rich text</li>
            <ul>
              <li>Descriptions</li>
              <li>Phrases</li>
            </ul>
            <li>Document scroll position progress marker</li>
            <li>Fixed position book languages sub-header</li>
            <li>Video phrases</li>
            <ul>
              <li>Transcribe video phrases</li>
              <li>Upload video phrases</li>
            </ul>
          </ul>
          <li>Search</li>
          <ul>
            <li>Search by title</li>
            <li>Search by author</li>
          </ul>
        </ul>
      </li>
      <li><b>Version 0.4</b>
        <ul>
          <li>Platform</li>
          <ul>
            <li>User-facing data import / export</li>
          </ul>
          <li>Books</li>
          <ul>
            <li>Add tags to books</li>
            <li>Collaborative Books</li>
          </ul>
          <li>Users</li>
          <ul>
            <li>Follow a user</li>
          </ul>
          <li>Search</li>
          <ul>
            <li>Search by content</li>
            <li>Search by tags</li>
          </ul>
        </ul>
      </li>
      <li><b>Version 1.0</b>
        <ul>
          <li>Platform</li>
          <ul>
            <li>Native app</li>
            <li>Offline-first architecture</li>
            <li>Public API</li>
            <li>Language object model</li>
          </ul>
        </ul>
      </li>
  </div>
</div>


