<nav>
  <a class="icon home" href="/">
    <%= image_tag "icons/i_home.svg"%>
    <span class="detail">
      <%= image_tag "icons/i_home_detail.svg"%>
    </span>
  </a>
</nav>
<span class="backgroundElement"></span>