<nav>
  <a class="icon home" href="/">
    <%= image_tag "icons/icon-logomark.svg"%>
    <span class="detail">
      <%= image_tag "icons/icon-logotype.svg"%>
    </span>
  </a>

  <form action="/search">
    <%= image_tag "icons/icon-search-grey.svg"%>
    <input type="text" name="q" placeholder="Search" dir="auto" defaultValue={this.hasQueryValue()} />
  </form>

  <% if @user && @user.username %>

    <div class="loggedIn rails">
      <a class="currentUser" href="/dashboard">
        <span>back</span>
      </a>
    </div>

  <% else %>

    <div class="logIn">
      <a href="/Features">Roadmap</a>
      <a class="signUp" href="/sign_up">Sign up</a>
      <a href="/sign_in">or log in</a>

    </div>

  <% end %>

</nav>
<span class="backgroundElement"></span>