<nav>
  <a class="icon home" href="/">
    <%= image_tag "icons/i_home.svg"%>
    <span class="detail">
      <%= image_tag "icons/i_home_detail.svg"%>
    </span>
  </a>

  <% if @user && @user.username %>

    <span class="loggedIn">
      <a class="currentUser" href="/dashboard">
        <%= @user.username%>
      </a>
      <a href="/features">Roadmap</a>
      <a href="/sign_out">Sign out</a>
    </span>

  <% else %>

    <span class="logIn">
      <a href="/Features">Roadmap</a>
      <a class="signInButton" href="/sign_in">Log in</a>
    </span>

  <% end %>

</nav>
<span class="backgroundElement"></span>